<template>
	<div class="panel panel-default cart-panel">
		<div class="panel-heading">
			<img class="pull-left add-right-margin" height="20" src="../assets/cart-m.png">
			<h3 class="pull-left panel-title">Your Cart</h3>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<div id="Cart">
                <div v-if="list.length === 0">The cart is empty!</div>
                <div 
                v-if="list.length"
                v-for="product in list"
                :key="product.code"
                class="item-checkout">
                    <input
                    readonly
                    type="text" 
                    v-bind:value="product.units" 
                    maxlength="2" 
                    class="quantity-text">
                    {{product.code}}
                    <span class="pull-right pad-right">{{product.price}}€</span>
                </div>
			    <div v-if="list.length">
                    <hr style="height: 1px;!important">
                    <span v-if="discount !== 0" class="pull-right">Discount: -{{discount}}€</span>
                    <br v-if="discount !== 0"><br v-if="discount !== 0">
                    <span class="pull-right">Total: {{total}}€</span>
                    <div class="clearfix"></div>
                    <b-button class="button--main-line btn-cbf">Checkout</b-button>
                </div>
			</div>
		</div>
	</div>
</template>

<script>

export default {
  name: 'Checkout',
  props: [ 'list', 'total', 'discount' ]
}
</script>

<style>
.item-checkout{
    margin-bottom: 10px;
}
.pad-right{
    margin-top: 1px;
}
.quantity-text {
    border-radius: 3px;
    width: 36px!important;
    margin-right: 8px;
    border-width: 3px;
}
.add-right-margin {
    margin-right: 10px;
}
.pull-left {
    float: left!important;
}
.panel-default {
    border-color: #ddd!important;
}
.panel-title {
    margin-top: 4px;
    margin-bottom: -2px;
    font-size: 16px;
}
.panel {
		width: 95%;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
		
}
.panel-body {
    padding: 15px;
}
.quantity-text {
    border-radius: 3px;
    width: 20px;
    margin-right: 5px;
    border-width: 1px;
}
</style>
