<template>
	<b-row class="container-docs" >	
		<div class="docs" v-html="paintContent"></div>
	</b-row>
</template>

<script>
import readme from '../../../README.md'
import requirements from '../../../doc/requirements.md'
import teamworkSolution from '../../../doc/teamwork_solution.md'
import programmingLanguage from '../../../doc/programming_language.md'
import database from '../../../doc/database.md'
import continuousIntegration from '../../../doc/continuous_integration.md'
import virtualization from '../../../doc/virtualization.md'
import qualityTools from '../../../doc/quality_tools.md'


import Remarkable from 'remarkable'
const md = new Remarkable('full', {
  html: true,
  linkify: true,
  typographer: true
})

export default {
	name: 'Docs',
	created: function() {
		this.texts.readme = this.linker(readme)
		this.texts.requirements = this.linker(requirements)
		this.texts['teamwork-solution'] = this.linker(teamworkSolution)
		this.texts['programming-language'] = this.linker(programmingLanguage)
		this.texts.database = this.linker(database)
		this.texts['continuous-integration'] = this.linker(continuousIntegration)
		this.texts.virtualization = this.linker(virtualization)
		this.texts['quality-tools'] = this.linker(qualityTools)
		this.selectContent(this.$route.path)
	},
  	watch: {
    	'$route' (to, from) {
			this.selectContent(this.$route.path)
    	}
	  },	   
    computed: {
    	paintContent: function () {
      		return this.content
    	}
  	}, 	
	data: function() {
		return {
			content: '',
			texts: {}
		}
	},
	methods: {
		linker (text) {
			return text.replace(/\(doc/g, '(/#/doc').replace(/.md/g, '');
		},	
		selectContent: function (path) {
			if (path === '/') 
				this.content = md.render(this.texts.readme)
			else  {
				this.content = md.render(this.texts[path.replace('/doc/', '')])
			}
		}	
	}			  
}
</script>

<style scoped>
.container-docs{
	margin-top: 50px;
}
</style>
