<template>
	<b-navbar toggleable="md" type="dark">
	<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
	<b-navbar-brand href="#" style="font-size: 1.3rem; padding; font-weight: bold;">Cabify Mobile Challenge</b-navbar-brand>
	<b-collapse is-nav id="nav_collapse" >
		<b-navbar-nav class="justify-right items-center center">
			<router-link class="nav-link" to="/">Docs</router-link>
    		<router-link class="nav-link" to="/shop">Demo</router-link>
		</b-navbar-nav>
	</b-collapse>
	</b-navbar>
	
</template>

<script>
export default {
  name: 'Nav'
}
</script>

<style>
.navbar{
	padding-top: 15px!important;
	padding-bottom: 10px!important;
	background-color: #7350ff!important;
}
.items-center{
	align-items: center!important;
}
.router-link-exact-active{
	color: #f8f9fa!important;
}
</style>
