<template>
	<div>
		<b-row>
			<b-col>
				<h5>{{code}}</h5>
			</b-col>
			<b-col>
				<h5 class="pull-right">{{price}}€</h5>
			</b-col>					
		</b-row>
		<b-row>
			<b-col>
				<p>{{name}}</p>
			</b-col>											
		</b-row>
		<b-row>
			<b-col>
				<b-button class="button--main-line btn-cbf" v-on:click="scan(code)">Add to Cart</b-button>
			</b-col>					
		</b-row>
		<hr/>				
	</div>
</template>

<script>
export default {
  	name: 'Product',
  	props: [ 'code', 'name', 'price' ],
	methods: {
		scan: function (code) {
			this.$parent.$emit('scan', {code})
		}
	}	  
}
</script>

<style>
.pull-right {
    float: right!important;
}
</style>
