<template>
	<b-row class="container-checkout">
		<b-col sm="8">
			<h4>Select a product</h4>
			<hr/>	
			<Product v-for="product in products" 
			:key="product.code"
			v-bind:code="product.code"
  			v-bind:name="product.name"
			v-bind:price="product.price">
			</Product>
		</b-col>
		<b-col sm="4">
			<Checkout 
			v-bind:list="checkout.list"
			v-bind:total="checkout.total"
			v-bind:discount="checkout.discount">
			</Checkout>
		</b-col>
	</b-row>
</template>

<script>
import Product from './Product'
import Checkout from './Checkout'
import requester from '../utils/requester.js'

export default {
	name: 'Shop',
	components: {
		Product,
		Checkout
	},
	data: function() {
		return {
			products: [],
			checkout: {
				list:[],
				total: 0,
				discount: 0
			}
		}
	},
	created: async function() {
		this.getProducts()
		this.getTotal()
 		this.$on('scan', product => {
			this.scanProduct(product)
		})	
	},
	methods: {
		getProducts: async function (){
			this.products = await requester.getProducts()
		},
		scanProduct: async function(code) {
			this.checkout = await requester.scanProduct(code)
		},
		getTotal: async function() {
			this.checkout = await requester.getTotal()
		}		
	}	
}
</script>

<style>
.btn-cbf{
    padding: .25rem .5rem .15rem .5rem !important;
    font-size: .875rem!important;
}
.container-checkout{
	margin-top: 50px;
}
.pull-right {
    float: right!important;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
</style>
