<template>
  <div id="app">
    <Nav/>
    <b-container fluid>
      <router-view></router-view>
    </b-container>    
  </div>
</template>

<script>
import Nav from './components/Nav.vue'
import Shop from './components/Shop.vue'

export default {
  name: 'app',
  components: {
    Nav,
    Shop
  }
}
</script>




