/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%}
@font-face {
    font-family: "CabifyCircularWeb";
    src: url(fonts/CabifyCircularWeb-Book.eot);
    src: url(fonts/CabifyCircularWeb-Book.eot?#iefix) format("embedded-opentype"), url(fonts/CabifyCircularWeb-Book.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    -ms-font-feature-settings: "1" 1, "0" 0, "1" 1;
    -o-font-feature-settings: "1" 1, "0" 0, "1" 1;
    font-feature-settings: "1" 1, "0" 0, "1" 1;
}
@font-face {
    font-family: "CabifyCircularWeb";
    src: url(fonts/CabifyCircularWeb-Bold.eot);
    src: url(fonts/CabifyCircularWeb-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/CabifyCircularWeb-Bold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    -ms-font-feature-settings: "1" 1, "0" 0, "1" 1;
    -o-font-feature-settings: "1" 1, "0" 0, "1" 1;
    font-feature-settings: "1" 1, "0" 0, "1" 1;
}
@font-face {
    font-family: "CabifyCircularWeb";
    src: url(fonts/CabifyCircularWeb-Light.eot);
    src: url(fonts/CabifyCircularWeb-Light.eot?#iefix) format("embedded-opentype"), url(fonts/CabifyCircularWeb-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    -ms-font-feature-settings: "1" 1, "0" 0, "1" 1;
    -o-font-feature-settings: "1" 1, "0" 0, "1" 1;
    font-feature-settings: "1" 1, "0" 0, "1" 1;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #212240;
    font-family: 'CabifyCircularWeb', 'Avenir', 'Avenir Next', 'Segoe UI', 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    background: #f2f2f2;
}
.container, .row {
    margin-left: auto;
    margin-right: auto;
}
.container {
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    width: 100%}
.container.no-gutters {
    padding-left: 0!important;
    padding-right: 0!important;
}
.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1128px;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.row.no-gutters [class*=col-] {
    padding: 0;
}
.row.full {
    max-width: 100%}
.row.half {
    max-width: 564px!important;
}
.row.overflow {
    max-width: calc(1128px + 8.33333%);
}
.row.overflow .row {
    max-width: none;
}
@media (max-width:520px) {
    .body {
}
}[class*=button--] {
    border-radius: .5rem;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1rem 1.5rem .625rem;
    text-align: center;
    transition: color 125ms linear, background-color 125ms linear;
    white-space: nowrap;
}
@media (max-width:520px) {
    [class*=button--] {
    padding: .625rem 1.25rem .5rem;
    font-size: 1rem;
}
}@media (max-width:1024px) {
    [class*=button--] {
    margin-right: 1rem;
}
}[class*=button--]:hover {
    transition-duration: 250ms;
}
[class*=button--]+[class*=button--] {
    margin-left: .75rem;
}
@media (max-width:1024px) {
    [class*=button--]+[class*=button--] {
    margin-left: 0;
    margin-top: 1rem;
}
}.button--main {
    color: #fff!important;
    background-color: #7350ff;
}
.button--main:hover {
    background-color: #5f37ff;
}
.button--main-line {
    background-color: transparent;
    border-color: #7350ff;
    border-width: 1px;
    color: #7350ff;
}
.button--main-line:hover {
    color: #fff;
    background-color: rgba(115, 80, 255, .85);
}
.button--dark {
    color: #fff;
    background-color: #212240;
}
.button--dark-line:hover, .button--dark:hover {
    background-color: rgba(33, 34, 64, .85);
}
.button--dark-line {
    background-color: transparent;
    border-color: #212240;
    border-width: 1px;
    color: #212240;
}
.button--dark-line:hover {
    color: #fff;
}
.button--light {
    background-color: #fff;
    color: #7350ff;
}
.module.bg-pink .button--light, .module.bg-pink .button--light-line:hover {
    color: #ff6b97;
}
.button--light-line {
    background-color: transparent;
    border-color: #fff;
    border-width: 1px;
    color: #fff;
}
.button--light-line:hover, .button--light:hover {
    color: #7350ff;
    background-color: rgba(255, 255, 255, .85);
}
.button--teal {
    color: #fff;
    background-color: #65bfee;
}
.button--teal:hover {
    background-color: rgba(101, 191, 238, .85);
}
.button--pink {
    color: #fff;
    background-color: #ff6b97;
}
.button--pink:hover {
    background-color: rgba(255, 107, 151, .85);
}
.button--white {
    color: #7350ff!important;
    background-color: #fff;
}
.button--white:hover {
    background-color: rgba(255, 255, 255, .85);
}