<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Cabify Mobile Challenge</title>
    <link rel="icon" href="https://cabify.com/user/themes/cabify/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cabify.com/user/themes/cabify/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://cabify.com/user/themes/cabify/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cabify.com/user/themes/cabify/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://cabify.com/user/themes/cabify/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cabify.com/user/themes/cabify/favicon/favicon-16x16.png">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but hello-world doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
